body{
    background-image: url(/bg-picjumbo.com_HNCK1805.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    margin:0
}
*{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: rgb(83, 68, 68);
   font-size: 1em;
}

 div#indice {
    text-align: right;
 }

a{
    color: rgb(83, 68, 68);
font-size: small;
font-weight: bold;
text-decoration: none;
}

 button {
    background-color: #d6b7b700;
    border: none;
 }

 button:hover{
     color: rgba(255, 255, 255, 1) ;
    box-shadow: 0 4px 16px rgb(179, 112, 112);
    transition: all 0.2s ease;
 }

h1 { 
    font-size: 40px;
    line-height: 0.05em;
}

strong{
    font-size: 3.5rem;  
}

div#presentacion, div#habilidades, div.proyectos {
    padding: 80px 200px 80px 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
     background-color: #d6b7b791;
 }

div#presentacion{
    margin: 50px 150px
}

 div#perfiles {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60%;
    letter-spacing: 5em;
 }

div#contactanos{
    padding: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #d6b7b791;
    margin: 20px 400px;
}

img.work:hover{
    color: rgba(255, 255, 255, 1) ;
   box-shadow: 0 4px 16px rgb(179, 112, 112);
   transition: all 0.2s ease;
   
}
a.work{
    letter-spacing: 7em
}


img.principal {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
  }

  img.emocion, img.contacto {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
  }

  img.guiño{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25%
  }


